    @import url("../css/font.css");
    $white: #ffffff;
    $primary:#f2a900;
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        overflow-x: hidden;
    }
    
    ul li {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    /* global css */
    
    .container {
        width: 87%;
        margin: 0 auto;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .top-header .top-nav .right-top-nav li,
    header .main-nav-bar ul li {
        margin-left: 32px;
        position: relative;
        a {
            color: $white;
            font-size: 16px;
            font-family: HelveticaNeue_Bold;
            cursor: pointer;
        }
        &::after {
            content: "";
            position: absolute;
            height: 12px;
            width: 1.6px;
            background: #ffffff;
            top: 5px;
            right: -15px;
            overflow: hidden;
        }
        &:last-child:after {
            content: none;
        }
    }
    
    .search-bar {
        position: relative;
        margin-left: 25px;
        span {
            position: absolute;
            color: $white;
            left: 10px;
            font-size: 21px;
            top: 5px;
        }
        input {
            background-color: transparent;
            outline: none;
            border: 0.7px solid $white;
            border-radius: 18px;
            padding: 4px 10px 4px 37px;
            width: 138px;
            color: $white;
            &:focus {
                border: 0.7px solid #999;
            }
        }
    }
    
    a.btn_ {
        font-size: 15px;
        font-weight: 600;
        font-family: Helvetica-Bold;
        background-color: #f3a901;
        display: inline-block;
        padding: 14px 51px;
        text-align: center;
        border-radius: 50px;
        color: #ffffff;
    }
    
    .mobile-sub-menu.collapseMobileMenu {
        display: block !important;
    }
    /* humburger css */
    
    .hamburger {
        overflow: hidden;
        position: absolute;
        right: 20px;
        top: 60px;
        cursor: pointer;
        display: none;
        z-index: 1000;
        div {
            width: 30px;
            height: 2px;
            background-color: #060505;
            margin: 5px 0px;
            display: flex;
            transition: all 0.3s ease 0s;
        }
        .line2 {
            width: 15px;
            transition-property: width;
            transition-duration: 0.3s;
        }
    }
    /* mobile menu */
    
    [data-pushbar-id] {
        background: #a6192e;
    }
    
    #closeMenu {
        background-color: transparent;
        border: none;
        outline: none;
        position: absolute;
        top: 0;
        cursor: pointer;
        span {
            color: $white;
        }
    }
    
    .mobile-menu-container {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        overflow: hidden;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        .mobile-menu {
            a {
                color: $white;
                font-family: HelveticaNeue_Bold;
                font-size: 14px;
            }
            .top-nav-mobile {
                margin-bottom: 20px;
                ul {
                    li {
                        margin: 7px auto;
                    }
                }
                .search-bar {
                    margin-top: 18px;
                    span {
                        top: 3px;
                    }
                }
            }
            .main-nav-bar-mobile {
                margin-top: 10px;
                ul {
                    li {
                        margin: 7px auto;
                        &:first-child {
                            position: relative;
                            span {
                                position: absolute;
                                color: #ffffff;
                                cursor: pointer;
                                font-size: 22px;
                                left: 7px;
                                top: -1px;
                                transition: 0.3s;
                            }
                            span.rotate {
                                transform: rotate(538deg);
                            }
                            .mobile-sub-menu {
                                width: 142px;
                                background: $white;
                                padding: 11px;
                                z-index: 999;
                                margin: auto;
                                display: none;
                                a {
                                    display: block;
                                    color: #000;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* top header css */
    
    .top-header {
        width: 100%;
        background-color: #a6192e;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .row {
            justify-content: flex-end;
        }
        .top-nav {
            display: flex;
            flex-direction: row;
            div {
                display: flex;
                align-items: center;
                .right-top-nav {
                    display: flex;
                    flex-direction: row;
                    li {
                        &::after {
                            width: 1.9px;
                        }
                    }
                }
            }
        }
    }
    /* header css */
    
    header {
        background: $white;
        height: 78px;
        display: flex;
        align-items: center;
        .row {
            justify-content: space-between;
            .logo-container {
                .logo-img {
                    position: absolute;
                    width: 166px;
                    top: -0px;
                    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.527);
                }
            }
            .main-nav-bar {
                display: flex;
                flex-direction: row;
                div {
                    display: flex;
                    ul {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        li {
                            a {
                                color: #3c3d3a;
                                text-decoration: none;
                            }
                            &::after {
                                background: #3d3c3b;
                            }
                            &:first-child {
                                padding: 16px 0;
                                .sub-menu {
                                    display: inherit;
                                    position: absolute;
                                    left: -111px;
                                    top: 63px;
                                    background-color: #891127;
                                    text-align: center;
                                    width: 212px;
                                    transition: 0.5s all;
                                    display: none;
                                    border-radius: 10px;
                                    z-index: 1000;
                                    .triangle-up {
                                        width: 0;
                                        height: 0;
                                        border-left: 16px solid transparent;
                                        border-right: 16px solid transparent;
                                        border-bottom: 17px solid #a7182e;
                                        position: absolute;
                                        top: -17px;
                                        left: 107px;
                                    }
                                    div {
                                        display: inherit;
                                        padding: 10px 20px;
                                        background-color: #891026;
                                        a {
                                            display: inline-block;
                                            color: $white;
                                            padding: 10px 11px;
                                            border-radius: 10px;
                                        }
                                    }
                                    .inset {
                                        background-color: #a7182e;
                                        box-shadow: inset 3px 1px 8px 0px transparent;
                                    }
                                }
                            }
                            &:first-child::after {
                                top: 21px;
                            }
                            &:first-child:hover {
                                .sub-menu {
                                    display: block;
                                }
                            }
                        }
                        .disease::after,
                        .recipes::after {
                            width: 1.9px;
                        }
                    }
                }
                .sign-up {
                    margin-left: 25px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .sign-up-btn {
                        color: $white;
                    }
                }
            }
        }
    }
    /* slider css */
    
    .swiper-container {
        .rough-edge-box-container {
            img {
                position: absolute;
                top: -308px;
                z-index: 1100;
                left: -18px;
            }
             :nth-child(2) {
                left: 547px;
            }
             :nth-child(3) {
                left: 769px;
            }
        }
        #chat-with-us {
            font-size: 18px;
            font-family: sans-serif, Blockbe_woff;
            font-weight: 200;
            border: none;
            outline: none;
            padding: 9px 24px 27px 10px;
            background-color: #a6192e;
            position: absolute;
            right: -83px;
            bottom: 40%;
            z-index: 1000;
            color: white;
            -webkit-transform: rotate(271deg);
            transform: rotate(270deg);
            img {
                width: 43px;
                margin-bottom: -14px;
                margin-right: -13px;
            }
        }
        .curve-rough {
            width: 100%;
            position: absolute;
            z-index: 1000;
            bottom: 0;
        }
        .slidertext {
            text-align: left;
            width: 100%;
            padding-left: 90px;
            h2 {
                font-family: sans-serif, Blockbe_woff;
                font-weight: normal;
                font-size: 53px;
                margin-bottom: 15px;
                color: #ffffff;
                width: 43%;
                line-height: 65px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            .btn_group {
                display: flex;
                flex-direction: row;
                .find_out {
                    .btn_find {
                        font-size: 15px;
                        font-family: sans-serif, Blockbe_woff;
                        padding: 16px 42px;
                    }
                }
                .controler-container {
                    display: flex;
                    align-items: center;
                    button {
                        width: 54px;
                        height: 54px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        background: $primary;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        margin: 0 -7px 0 15px;
                        color: $white;
                        font-size: 25px;
                        font-weight: normal;
                        text-align: center;
                    }
                     :nth-child(2) {
                        background: #869c658a;
                        border: 2px solid $primary;
                        color: $primary;
                    }
                }
            }
        }
    }
    /* responsive css */
    
    @media screen and (max-width: 1080px) {
        li::after {
            content: none;
        }
        .hamburger {
            display: block;
            top: 22px;
            right: 48px;
        }
        .top-header,
        header .main-nav-bar {
            display: none !important;
        }
        header .row .logo-container .logo-img {
            width: 88px;
            top: 12px;
        }
        .sub-menu {
            display: none;
        }
        .swiper-container .slidertext h2 {
            font-size: 37px;
            line-height: 50px;
        }
        .swiper-container .slidertext .btn_find,
        .mobile-menu-container .mobile-menu .sign-up a {
            font-size: 13px !important;
            padding: 13px 33px !important;
        }
        .swiper-container .slidertext .btn_group .controler-container button {
            width: 43px;
            height: 43px;
            font-size: 20px;
        }
    }
    
    @media screen and (max-width: 768px) {
        .hamburger {
            top: 27px;
            right: 36px;
        }
        .mobile-menu a {
            font-size: 12px;
        }
        .swiper-container .slidertext {
            padding-left: 6%;
            h2 {
                font-size: 36px;
                width: 68%;
            }
        }
        .swiper-container .slidertext .btn_group .controler-container button i {
            font-size: 12px;
        }
        .swiper-container #chat-with-us {
            padding: 2px 14px 26px 1px;
            font-size: 12px;
            right: -58px;
        }
    }
    
    @media screen and (max-width: 578px) {
        .swiper-container {
            height: 70vh
        }
        .swiper-container .slidertext {
            h2 {
                font-size: 26px;
                width: 79%;
                line-height: 37px;
            }
        }
        .swiper-container .slidertext .btn_find,
        .mobile-menu-container .mobile-menu .sign-up a {
            font-size: 11px !important;
            padding: 12px 27px !important;
        }
        .swiper-container .slidertext .btn_group .controler-container button {
            width: 37px;
            height: 37px;
            font-size: 20px;
        }
    }
    
    @media screen and (max-width: 400px) {
        .swiper-container {
            height: 58vh;
        }
        .swiper-container .slidertext {
            h2 {
                font-size: 21px;
                width: 83%;
                line-height: 30px;
                letter-spacing: 1px;
            }
        }
        .swiper-container .slidertext .btn_find,
        .mobile-menu-container .mobile-menu .sign-up a {
            font-size: 10px !important;
            padding: 11px 18px !important;
        }
        .swiper-container .slidertext .btn_group .controler-container button {
            width: 33px;
            height: 33px;
            font-size: 17px;
        }
        .swiper-container #chat-with-us {
            padding: 0 14px 36px 1px;
            font-size: 11px;
            right: -59px;
        }
        .swiper-container #chat-with-us img {
            width: 35px;
            margin-bottom: -14px;
            margin-right: -10px;
        }
    }
    
    @media screen and (max-width: 320px) {
        .swiper-container {
            height: 45vh;
        }
        .swiper-container .slidertext h2 {
            font-size: 14px;
            width: 80%;
            line-height: 22px;
            margin-bottom: 9px;
        }
        .swiper-container .slidertext .btn_find,
        .mobile-menu-container .mobile-menu .sign-up a {
            font-size: 9px !important;
            padding: 8px 16px !important;
        }
        .swiper-container .slidertext .btn_group .controler-container button {
            width: 29px;
            height: 29px;
            font-size: 12px;
            margin: 0 0 0 5px;
            color: $white !important;
        }
    }