@import url("../css/font.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Berthold;
  overflow-x: hidden;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

/* global css */
.container {
  width: 87%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li {
  margin-left: 32px;
  position: relative;
}

li a {
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

li::after {
  content: "";
  position: absolute;
  height: 18px;
  width: 1.7px;
  background: #ffffff;
  right: -15px;
}

li:last-child:after {
  content: none;
}

.search-bar {
  position: relative;
  margin-left: 25px;
}

.search-bar span {
  position: absolute;
  color: #ffffff;
  left: 4px;
  font-size: 20px;
  top: 17px;
}

.search-bar input {
  background-color: transparent;
  outline: none;
  border: 0.7px solid #ffffff;
  border-radius: 18px;
  padding: 2px 10px 2px 27px;
  width: 161px;
  color: #ffffff;
}

.search-bar input:focus {
  border: 0.7px solid #999;
}

a.btn_ {
  background-color: #f3a901;
  width: 155px;
  height: 36px;
  display: inline-block;
  padding: 6px 10px;
  text-align: center;
  border-radius: 20px;
  color: #ffffff;
}

/* humburger css */
.hamburger {
  overflow: hidden;
  position: fixed;
  right: 20px;
  top: 42px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

.hamburger div {
  width: 30px;
  height: 2px;
  background-color: #060505;
  margin: 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.hamburger .line2 {
  width: 15px;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

[data-pushbar-id] {
  background: #000000;
}

#closeMenu {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  cursor: pointer;
}

#closeMenu span {
  color: #ffffff;
}

.mobile-menu-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.mobile-menu-container .mobile-menu .top-nav-mobile {
  margin-bottom: 20px;
}

.mobile-menu-container .mobile-menu .top-nav-mobile ul li {
  margin: 7px auto;
}

.mobile-menu-container .mobile-menu .top-nav-mobile .search-bar {
  margin-top: 18px;
}

.mobile-menu-container .mobile-menu .top-nav-mobile .search-bar span {
  top: 6px;
}

.mobile-menu-container .mobile-menu .main-nav-bar-mobile {
  margin-top: 10px;
}

.mobile-menu-container .mobile-menu .main-nav-bar-mobile ul li {
  margin: 7px auto;
}

.mobile-menu-container .mobile-menu .main-nav-bar-mobile .sign-up {
  margin-top: 18px;
}

/* top header css */
.top-header {
  width: 100%;
  background-color: #a6192e;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header .logo .logo-img {
  position: absolute;
  width: 110px;
  top: 0;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.527);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.527);
}

.top-header .top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.top-header .top-nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header .top-nav div .right-top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 15px;
}

/* header css */
header {
  background: #ffffff;
  height: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .row .main-nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .row .main-nav-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .row .main-nav-bar div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .row .main-nav-bar div ul li a {
  color: #3c3d3a;
  text-decoration: none;
}

header .row .main-nav-bar div ul li::after {
  background: #3d3c3b;
}

header .row .main-nav-bar div ul li:first-child {
  padding: 16px 0;
}

header .row .main-nav-bar div ul li:first-child .sub-menu {
  display: inherit;
  position: absolute;
  left: -111px;
  top: 65px;
  background-color: #891127;
  text-align: center;
  width: 212px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  display: none;
  border-radius: 10px;
  z-index: 1000;
}

header .row .main-nav-bar div ul li:first-child .sub-menu .triangle-up {
  width: 0;
  height: 0;
  border-left: 19px solid transparent;
  border-right: 19px solid transparent;
  border-bottom: 25px solid #a7182e;
  position: absolute;
  top: -25px;
}

header .row .main-nav-bar div ul li:first-child .sub-menu div {
  display: inherit;
  padding: 10px 20px;
  background-color: #891026;
}

header .row .main-nav-bar div ul li:first-child .sub-menu div a {
  display: inline-block;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
}

header .row .main-nav-bar div ul li:first-child .sub-menu .inset {
  background-color: #a7182e;
  -webkit-box-shadow: inset -1px -1px 3px;
          box-shadow: inset -1px -1px 3px;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
}

header .row .main-nav-bar div ul li:first-child:hover .sub-menu {
  display: block;
}

header .row .main-nav-bar .sign-up {
  margin-left: 25px;
  height: 39px;
  margin-top: 12px;
}

header .row .main-nav-bar .sign-up a {
  background-color: #f3a901;
  width: 155px;
  display: inline-block;
  padding: 8px 10px;
  text-align: center;
  border-radius: 20px;
  color: #ffffff;
}

/* slider css */
.swiper-container .curve-rough {
  width: 100%;
  position: absolute;
  z-index: 1000;
  bottom: 0;
}

.swiper-container .slidertext {
  text-align: left;
  width: 500px;
  max-width: 100%;
  padding-left: 90px;
}

.swiper-container .slidertext .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.swiper-container .slidertext .link .btn_find_out {
  font-size: 14px;
  margin-right: 4px;
  padding: 9px 35px;
  text-align: center;
  border-radius: 20px;
  color: #ffffff;
  background: #f3a901;
}

.swiper-container .slidertext .link .btn_arrow {
  font-size: 14px;
  margin-right: 4px;
  padding: 9px 15px;
  text-align: center;
  border-radius: 20px;
  color: #ffffff;
  background: #f3a901;
}

/* responsive css */
@media screen and (max-width: 992px) {
  li::after {
    content: none;
  }
  .top-header .top-nav,
  header .main-nav-bar {
    display: none !important;
  }
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 687px) {
  .swiper-container {
    height: 56vh;
  }
  .swiper-container .slidertext {
    width: 253px;
  }
  .swiper-container .slidertext {
    padding-left: 3%;
  }
  .swiper-container .slidertext h2 {
    font-size: 15px;
  }
  .swiper-container .slidertext .link .btn_find_out {
    font-size: 9px;
    padding: 3px 20px !important;
  }
  .swiper-container .slidertext .link .btn_arrow {
    font-size: 9px;
    padding: 3px 10px;
  }
}
/*# sourceMappingURL=style.css.map */